@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-grey-60);
  background-color: var(--color-dark);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4,
.h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  -webkit-transition-duration: 0s !important;
          transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
  background-color: transparent;
}

@font-face {
  font-family: "KumbhSans";
  src: url("../../fonts/KumbhSans.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media (width <= 90.06125rem) {
  .container {
    --container-width: 80rem;
    --container-padding-x: 5rem;
  }
}
@media (width <= 63.99875rem) {
  .container {
    --container-width: 60rem;
    --container-padding-x: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .container {
    --container-width: 22.5rem;
    --container-padding-x: 0.9375rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width >= 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --color-light: #ffffff;
  --color-dark: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-grey-50: #7e7e81;
  --color-grey-60: #98989a;
  --color-accent: #ffd11a;
  --color-red: #ff5500;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Khumb Sans", sans-serif;
  --container-width: 100rem;
  --container-padding-x: 10rem;
  --transition-duration: 0.2s;
  --border: 0.0625rem solid var(--color-dark-15);
}

.header__promo {
  width: 100%;
  padding-block: 1.25rem;
  text-align: center;
  border-bottom: var(--border);
}
@media (width <= 90.06125rem) {
  .header__promo {
    padding-block: 0.75rem;
  }
}
@media (width <= 47.99875rem) {
  .header__promo {
    padding-block: 0.875rem;
  }
}
.header__body {
  padding-block: 1.5rem;
  background-color: var(--color-dark-10);
}
@media (width <= 90.06125rem) {
  .header__body {
    padding-block: 1.25rem;
  }
}
.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
@media (width >= 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
    background-color: var(--color-dark-10);
    -webkit-transition-duration: var(--transition-duration);
            transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
@media (width <= 47.99875rem) {
  .header__menu {
    overflow-y: auto;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
@media (width <= 90.06125rem) {
  .header__menu-list {
    -webkit-column-gap: 0.375rem;
       -moz-column-gap: 0.375rem;
            column-gap: 0.375rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  padding: 0.875rem 1.5rem;
  color: var(--color-grey-50);
}
@media (width <= 90.06125rem) {
  .header__menu-link {
    padding: 0.625rem 0.875rem;
  }
}
.header__menu-link.is-active {
  font-weight: 500;
  border-radius: 0.625rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark-20);
  pointer-events: none;
}
@media (width <= 47.99875rem) {
  .header__contact-us-link {
    width: 100%;
    max-width: 18.75rem;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.header__contact-us-link.btn--accent {
  padding: 0.875rem 1.25rem;
  border-radius: 0.625rem;
}
@media (width <= 90.06125rem) {
  .header__contact-us-link.btn--accent {
    padding: 0.625rem 0.875rem;
    border-radius: 0.375rem;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.125rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 0.75rem;
  color: var(--color-grey-60);
  background-color: var(--color-dark);
  white-space: nowrap;
  border: var(--border);
}
@media (width <= 90.06125rem) {
  .btn {
    padding: 0.875rem rem 20;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
}
@media (any-hover: hover) {
  .btn:hover {
    color: var(--accent-color);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .btn:active {
    color: var(--accent-color);
    background-color: var(--color-dark-10);
    border-color: var(--color-accent);
  }
}
.btn--accent {
  font-weight: 500;
  border-radius: 0.5rem;
  color: var(--color-dark);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}
@media (any-hover: hover) {
  .btn--accent:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}
@media (any-hover: none) {
  .btn--accent:active {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}

.burger-btn {
  width: 2.125rem;
  height: 2.125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light);
  border: none;
  background-color: transparent;
}
@media (any-hover: hover) {
  .burger-btn:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-btn:active {
    color: var(--color-accent);
  }
}
.burger-btn.is-active .burger-btn__line:nth-child(1) {
  -webkit-transform-origin: 0;
          transform-origin: 0;
  rotate: 45deg;
  translate: 0.25em -0.1em;
}
.burger-btn.is-active .burger-btn__line:nth-child(2) {
  rotate: -45deg;
}
.burger-btn.is-active .burger-btn__line:nth-child(3) {
  width: 0;
}
.burger-btn__line {
  color: currentColor;
  height: 0.125rem;
  background-color: var(--color-light);
  border-radius: 0.0625rem;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.burger-btn__line:last-child {
  width: 55%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.logo {
  max-width: clamp(7.875rem, 7.0306372549rem + 3.4640522876vw, 11.1875rem);
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.icon::after {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (width <= 90.06125rem) {
  .icon::after {
    --size: 1.25rem;
  }
}
.icon--yellow-arrow::after {
  background-image: url("../icons/arrow-top-right.svg");
}/*# sourceMappingURL=main.css.map */